@keyframes spring {
    50% {
        transform: scale(1.4);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.3);
    }
}


.colors {
    display: flex;
    flex-direction: column;
}

.color {
    display: flex;
    align-items: center;
    margin: 24px 0 0 0;
}


.color-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: auto;
    cursor: pointer;
    transition: all .5s;
}

.color-circle:hover {
    animation: spring .3s;
    animation-fill-mode: forwards;
}

.color-circle_black {
    background: #000;
}

.color-circle_white {
    background: #fff;
}

.color-circle_walnut {
    background: #6a5238;
}

.color-circle_grey {
    background: #c9c9c9;
}

.color-name {
    color: #616161;
    font-size: 24px;
    margin: 0 0 0 16px;
}


@media screen and (max-width: 767px) {
    .color-circle {
        height: 24px;
        width: 24px;
    }

    .color-name {
        font-size: 16px;
        margin: 0 0 0 12px;
    }

    .color {
        margin: 8px 0 0 0;
    }
}